In [41]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [42]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/raw/Dataset.csv', header=2)

In [43]:
df.head(10)

,Commodity Group,Commodity,Variety,MSP (Rs./Quintal) 2026-27,"Price on 30 Jan, 2026","Price on 29 Jan, 2026","Price on 28 Jan, 2026","Arrival on 30 Jan, 2026","Arrival on 29 Jan, 2026","Arrival on 28 Jan, 2026"
0,Cereals,Bajra(Pearl Millet/Cumbu),Bold,2775.00,2763.02,2422.46,2710.44,77.10,90.00,84.40
1,Cereals,Bajra(Pearl Millet/Cumbu),Deshi,2775.00,2054.97,1884.92,1987.91,22.12,167.60,54.17
2,Cereals,Bajra(Pearl Millet/Cumbu),Hybrid,2775.00,2629.84,2010.20,2035.18,151.80,42.35,46.25
3,Cereals,Bajra(Pearl Millet/Cumbu),Local,2775.00,2383.27,2441.76,2355.34,11.76,367.98,17.12
4,Cereals,Bajra(Pearl Millet/Cumbu),Millet,2775.00,1935.05,1915.00,1917.98,30.62,48.70,6.24
5,Cereals,Bajra(Pearl Millet/Cumbu),Millet-Organic,2775.00,-,3900.00,-,-,38.45,-
6,Cereals,Bajra(Pearl Millet/Cumbu),Other,2775.00,2948.39,2738.72,3017.00,279.68,187.42,228.78
7,Cereals,Barley(Jau),Barley,1980.00,2345.48,2342.52,2316.54,56.44,19.13,44.83
8,Cereals,Barley(Jau),Barley-Organic,1980.00,2350.00,-,-,0.88,-,-
9,Cereals,Barley(Jau),Dara,1980.00,2291.67,2261.42,2240.00,18.00,46.10,20.00

In [44]:

print("Original Columns:", df.columns.tolist())

new_columns = [
    'Commodity_Group',  # Col 0
    'Commodity',        # Col 1
    'Variety',          # Col 2
    'MSP',              # Col 3
    'Price_Today',      # Col 4
    'Price_1DayAgo',    # Col 5
    'Price_2DaysAgo',   # Col 6
    'Arrival_Today',    # Col 7
    'Arrival_1DayAgo',  # Col 8
    'Arrival_2DaysAgo'  # Col 9
]

# Assign these new names to the first 10 columns
df.columns = new_columns + list(df.columns[10:])
df = df[new_columns]

print("\nNew Standardized Columns:", df.columns.tolist())
df.head(3)

Original Columns: ['Commodity Group', 'Commodity', 'Variety', 'MSP (Rs./Quintal) 2026-27', 'Price on 30 Jan, 2026', 'Price on 29 Jan, 2026', 'Price on 28 Jan, 2026', 'Arrival on 30 Jan, 2026', 'Arrival on 29 Jan, 2026', 'Arrival on 28 Jan, 2026']

New Standardized Columns: ['Commodity_Group', 'Commodity', 'Variety', 'MSP', 'Price_Today', 'Price_1DayAgo', 'Price_2DaysAgo', 'Arrival_Today', 'Arrival_1DayAgo', 'Arrival_2DaysAgo']

,Commodity_Group,Commodity,Variety,MSP,Price_Today,Price_1DayAgo,Price_2DaysAgo,Arrival_Today,Arrival_1DayAgo,Arrival_2DaysAgo
0,Cereals,Bajra(Pearl Millet/Cumbu),Bold,2775.00,2763.02,2422.46,2710.44,77.10,90.00,84.40
1,Cereals,Bajra(Pearl Millet/Cumbu),Deshi,2775.00,2054.97,1884.92,1987.91,22.12,167.60,54.17
2,Cereals,Bajra(Pearl Millet/Cumbu),Hybrid,2775.00,2629.84,2010.20,2035.18,151.80,42.35,46.25

In [45]:
# sometimes the prices and arrivals will be left blank either becuase the crops didnt arrive or data wasnt taken so
# we will keeep it as NaN values becuase we cannot guess it just like that
numeric_cols = [
    'MSP', 'Price_Today', 'Price_1DayAgo', 'Price_2DaysAgo',
    'Arrival_Today', 'Arrival_1DayAgo', 'Arrival_2DaysAgo'
]

for col in numeric_cols:
    df[col] = df[col].replace('-', np.nan)
    df[col] = df[col].astype(str).str.replace(',', '')
    df[col] = pd.to_numeric(df[col], errors = 'coerce')

print(df.isnull().sum())

print(df.head(15))

Commodity_Group      0
Commodity            0
Variety              0
MSP                 31
Price_Today         20
Price_1DayAgo       29
Price_2DaysAgo      19
Arrival_Today       20
Arrival_1DayAgo     29
Arrival_2DaysAgo    19
dtype: int64
   Commodity_Group                  Commodity         Variety     MSP  \
0          Cereals  Bajra(Pearl Millet/Cumbu)            Bold  2775.0
1          Cereals  Bajra(Pearl Millet/Cumbu)           Deshi  2775.0
2          Cereals  Bajra(Pearl Millet/Cumbu)          Hybrid  2775.0
3          Cereals  Bajra(Pearl Millet/Cumbu)           Local  2775.0
4          Cereals  Bajra(Pearl Millet/Cumbu)          Millet  2775.0
5          Cereals  Bajra(Pearl Millet/Cumbu)  Millet-Organic  2775.0
6          Cereals  Bajra(Pearl Millet/Cumbu)           Other  2775.0
7          Cereals                Barley(Jau)          Barley  1980.0
8          Cereals                Barley(Jau)  Barley-Organic  1980.0
9          Cereals                Barley(Jau)            Dara  1980.0
10         Cereals                Barley(Jau)           Other  1980.0
11         Cereals             Jowar(Sorghum)          Hybrid  3699.0
12         Cereals             Jowar(Sorghum)  Jowar ( White)  3699.0
13         Cereals             Jowar(Sorghum)  Jowar (Yellow)  3699.0
14         Cereals             Jowar(Sorghum)           Local  3699.0

    Price_Today  Price_1DayAgo  Price_2DaysAgo  Arrival_Today  \
0       2763.02        2422.46         2710.44          77.10
1       2054.97        1884.92         1987.91          22.12
2       2629.84        2010.20         2035.18         151.80
3       2383.27        2441.76         2355.34          11.76
4       1935.05        1915.00         1917.98          30.62
5           NaN        3900.00             NaN            NaN
6       2948.39        2738.72         3017.00         279.68
7       2345.48        2342.52         2316.54          56.44
8       2350.00            NaN             NaN           0.88
9       2291.67        2261.42         2240.00          18.00
10      1480.00        2385.71         2302.80           8.00
11      2600.00            NaN             NaN           7.60
12      6555.89        4815.29         5815.26         566.48
13      7100.00        5707.71             NaN           1.07
14      4401.76        4996.00         4831.82          29.30

    Arrival_1DayAgo  Arrival_2DaysAgo
0             90.00             84.40
1            167.60             54.17
2             42.35             46.25
3            367.98             17.12
4             48.70              6.24
5             38.45               NaN
6            187.42            228.78
7             19.13             44.83
8               NaN               NaN
9             46.10             20.00
10            17.50              5.15
11              NaN               NaN
12            33.34             92.14
13             5.25               NaN
14            16.35              8.25

In [46]:
df.to_csv("../data/processed/day1_cleaned.csv", index=False)
print("Completed saving")

Completed saving